
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="/home">Visual Learner</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">

			</ul>
			<div class="nav navbar-nav navbar-right">
				<% if(!currentUser){ %>
					<a class="btn btn-outline-light" href="/login">Login</a>&nbsp;&nbsp;
					<a class="btn btn-outline-light" href="/register">Sign Up</a>
					<% } else { %>
						<a class="btn btn-outline-light" href="#">Hi,
							<%= currentUser.first_name %> <%= currentUser.last_name %>
						</a>&nbsp;&nbsp;
						<a class="btn btn-outline-light" href="/logout">Logout</a>
						<% } %>
			</div>
		</div>
	</nav>