        .IO {
            width: 50px;
            height: 20px;
            transform: skew(340deg);
            background: #efefef;
            border: 2px solid #343a40;
        }

        .Connector {
            height: 20px;
            width: 20px;
            background: #efefef;
            border: 2px solid #343a40;
            border-radius: 50%;
        }

        .Process {
            height: 20px;
            width: 50px;
            background: #efefef;
            border: 2px solid #343a40;
        }

        .Terminal {
            height: 20px;
            width: 50px;
            background: #efefef;
            border: 2px solid #343a40;
            border-radius: 40px;
        }
        .Decision {
            height: 20px;
            width: 20px;
            background: #efefef;
            border: 2px solid #343a40;
			transform: rotate(45deg);
        }

#menu {
        display: none;
        position: absolute;
        background-color: white;
        box-shadow: 0 0 5px grey;
        border-radius: 3px;
      }

      #menu button {
        border: none;
        display: block;
        width: 100%;
      }

      