#codeDiv>li{
  border: none;
  margin: 0px;
}
#psuedoDiv>li{
  border: none;
  margin: 0px;
}
.invisibile-texty {
    background: #f0f5f9;
    color: rgb(0, 0, 0);
    height: 60px;
    text-align: center;
    font-size: 24px;
    font-family: Calibri;
    text-align: center;
  }
.invisibile-texty:focus {
    color: rgb(0, 0, 0);
}
.row-box {
    background-color: #6b6b6b ;
    height: 30px;
}
.rowboxdel{
    position: absolute;
    z-index: 100;
    top: 5px;
    right: 5px;
  width: fit-content;
  height: fit-content;
  opacity: 40%;
}
#maincontent > div {
  background-color: #52616b;
}
.colhead {
	display: inline;
}
.colheader{
    min-height: 70px;
}
.delbox{
    min-height: 30px;
    min-width: 30px;
    display: none;
}
.row-box:focus-within .delbox {
    display:run-in;  
 }

.textcol{
  height:82vh;
  background-color: #ffffff;
  overflow-y: auto;
  overflow-x: hidden;
}
/* Holder thing */
.holder-thing {
    float: right;
}

/* Brightness slider */
.slider {
    -webkit-appearance: none;
    height: 7.5px;
    border-radius: 5px;  
    background: #d3d3d3;
    font-size: 0.3em;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: #1f2226;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #1f2226;
    cursor: pointer;
  }
  /* width */
::-webkit-scrollbar {
    width: 10px;
    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }