.invisibile-texty {
	border: none !important;
	border-radius: 10px !important;
    background: rgb(211, 211, 211) !important;
    color: rgb(0, 0, 0);
    min-height: 60px;
    resize: none;
    text-align: center;   
}
.invisibile-texty:focus {
	
    color: rgb(0, 0, 0);
 
}
.row-box {
	border-top: 0px dashed #ccc;
    border-bottom: 1px dashed #ccc;
    background:none !important;
    min-height: 60px;
    
}
.rowboxdel{
    position: absolute;
    z-index: 100;
    top: 0;
    right: 5px;
  width: fit-content;
  height: fit-content;
  opacity: 40%;
  
}
.colhead {
	display: inline;
}
.colheader{
    min-height: 70px;
}
.delbox{
    min-height: 30px;
    min-width: 30px;
    display: none;
}
.row-box:focus-within .delbox {
    display:run-in;  
 }
#flowchartdiv {
	height: 80vh;
    background-color: #f8f9fa;
    overflow-y: auto;
    overflow-x: hidden;
}

/* Holder thing */
.holder-thing {
    float: right;
}

/* Brightness slider */

.slider {
    -webkit-appearance: none;
    height: 7.5px;
    border-radius: 5px;  
    background: #d3d3d3;
    font-size: 0.3em;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: #1f2226;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #1f2226;
    cursor: pointer;
  }
  /* width */
::-webkit-scrollbar {
    width: 20px;
    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }