body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:yellow;
  }

#maincontent {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #626b79 !important;
}
#maincontent > div {
	min-height: 80vh;
}
#botnav {
	min-height: 60px;
}
/* Topics menu */
.sidebar {
    height: 100vh;
    overflow-y: auto;
    overflow-x: visible;
    z-index: 1000;
    min-width: 280px;
}

.sidebar::-webkit-scrollbar {
    width: 0;
}

.sidebar > .navbar {
    position: relative;
    height: 100%;
    overflow: visible;
}

.sidebar-right {
    right: 0;
    left: initial;
}

.sub-topic > li > a{
    color: rgba(255,255,255,.3) !important;
    cursor: pointer;
}
.sidebarlist>li>a {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 48px);
}
